.root {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 1001;
	position: sticky;
	height: 35px;
	top: 0;
	padding: 4px;
	background-color: var(--vscode-tab-inactiveBackground);
	gap: 8px;
}

.selectedFileCount {
	user-select: none;
	margin-right: auto;
	font-size: var(--vscode-editor-font-size);
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 4px;
}
