.root {
	display: flex;
	align-items: center;
	flex: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-wrap: nowrap;
	padding-left: 3px;
	align-items: center;
	height: 28px;
}

.root:not(:focus):hover {
	background-color: var(--vscode-list-hoverBackground);
}

.root:focus {
	background-color: var(--vscode-list-activeSelectionBackground);
}

.root:focus-visible {
	outline: none;
}

.root .actions,
.root .directorySelector {
	opacity: 0;
}

.root:hover .actions,
.root:hover .directorySelector,
.root:focus .actions,
.root:focus .directorySelector {
	opacity: 1;
}

.root:hover .description {
	display: inline;
}

.labelContainer {
	line-height: 22px;
	font-size: 13px;
	cursor: pointer;
	color: var(--vscode-foreground);
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 2.5px;
}

.directorySelector {
	display: flex;
}

.description {
	color: var(--vscode-descriptionForeground);
	font-size: 12px;
	line-height: normal;
	margin-left: 5px;
	display: none;
}

.actions {
	display: flex;
	padding: 0 3px 0px 0px;
	height: 100%;
	align-items: center;
	min-width: fit-content;
	margin-left: auto;
}

.actions a {
	display: flex;
	align-items: center;
	font-size: 11px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	color: var(--vscode-list-inactiveSelectionForeground);
}

.actions a:hover {
	background-color: var(--vscode-toolbar-hoverBackground);
}

.label {
	user-select: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
