.root {
	padding: 4px 12px 6px 20px;
}

.container:focus {
	outline: none;
}

.container::part(start) {
	margin-inline-start: 2px;
}

.container::part(control) {
	padding: 0 4px;
}

.container::part(root) {
	border-radius: 2px;
}