.welcomeMessage {
	padding: 0 20px 1em;
	margin-top: 13px;
}

.container {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.treeContainer {
	flex-grow: 1;
	overflow-y: auto;
}

.checkbox {
	margin-bottom: 3px;
	width: calc(var(--design-unit) * 3.5px);
	height: calc(var(--design-unit) * 3.5px);
}

.checkbox svg {
	width: 100%;
	height: 100%;
}
