@import 'reactjs-popup/dist/index.css';
@import '../shared//util.css';
/**
* popup
**/

.popup-content {
	background-color: var(--vscode-editor-background);
	width: calc(100vw - 40px);
	border: 0;
	border-radius: 5px;
}
[role='tooltip'].popup-content {
	/** override the default z-index to match monaco **/
	z-index: 1002 !important;
	background-color: #2c2c2c;
	color: white;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid var(--vscode-editor-background);
	word-break: break-word;
	/** override the default width to match with filename length **/
	width: 250px !important;
}

.popup-overlay {
	background-color: rgba(0, 0, 0, 0.3);
}

.popup-arrow {
	color: #2c2c2c;
	stroke: #2c2c2c;
	border: 0;
}
.App {
	height: 100vh;
}
.d-none {
	display: none;
}
.welcomeMessage {
	padding: 0 20px 1em;
	margin-top: 13px;
}
.w-full {
	width: 100%;
}
i.codicon {
	font-size: var(--vscode-editor-font-size) !important;
	line-height: inherit !important;
	margin-right: 4px !important;
}
.text-error {
	color: var(--vscode-errorForeground);
	font-size: 0.75rem;
}
