.block {
	width: 100%;
	height: 25%;
}

.App {
	height: 100%;
}

#root {
	height: 100vh;
}

.resize-handle {
	height: 2px;
	background-color: transparent;
}

.resize-handle:hover {
	background-color: blue;
}
