.block {
	width: 100%;
	height: 25%;
}

.App {
	height: 100%;
	width: 100%;
}

#root {
	height: 100vh;
}

.resize-handle {
	height: 3px;
	background-color: transparent;
}

.resize-handle:hover,
.resize-handle:active {
	background-color: var(--vscode-focusBorder);
}

.vscode-panels::part(tablist) {
	width: 100%;
	overflow: hidden;
}

.vscode-tab {
	overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
}

.vscode-panel-view {
	padding: 0px;
}
