.block {
	width: 100%;
	height: 25%;
}

.App {
	height: 100%;
	width: 100%;
}

#root {
	height: 100vh;
}

.resize-handle {
	height: 3px;
	background-color: transparent;
}

.resize-handle:hover,
.resize-handle:active {
	background-color: var(--vscode-focusBorder);
}

.vscode-panels {
	overflow: hidden;
}

.vscode-panels::part(tabpanel) {
	height: 100%;
	overflow: hidden;
}

.vscode-panels::part(tablist) {
	min-height: 35px;
	column-gap: 10px;
	padding: 0 2px;
    width: 100%;
    text-align: center;
}

.vscode-tab {
	overflow: visible;
	text-overflow: ellipsis;
	display: flex;
	padding: 0 2px;
	text-transform: uppercase;
	font-size: 11px;
}

@media screen and (max-width: 320px) {
    .vscode-tab {
        font-size: calc(0.2rem + 2vw);
    }
}

@media screen and (max-width: 240px) {
    .vscode-tab {
        font-size: calc(0.1rem + 2vw);
    }
}

.vscode-tab:focus-visible {
	border: none;
}

.vscode-panel-view {
	padding: 0px;
}

.toasterComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.clearing-progress-ring {
	height: 4em;
	width: 100%;
}

.warning {
	font-size: var(--type-ramp-base-font-size);
	line-height: var(--type-ramp-base-line-height);
	display: block;
	color: var(--foreground);
}
