.form {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding: 4px;
}

.form p {
	margin: 0;
}

.form li {
	list-style: none;
}

.listItem {
	display: flex;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}

.listItemLabel {
	flex-grow: 1;
}

.linkButton {
	cursor: pointer;
	font-family: var(--font-family);
	font-size: var(--type-ramp-base-font-size);
	line-height: var(--type-ramp-base-line-height);
	color: var(--button-primary-foreground);
	background: var(--button-primary-background);
	padding: var(--button-padding-vertical) var(--button-padding-horizontal);
}

.submitButton {
	width: 160px;
	align-self: end;
}

.formField {
	display: flex;
	flex-direction: column;
}
