.textField {
	flex-grow: 1;
}

.textFieldError::part(root):focus,
.textFieldError::part(root):focus-within {
	border-color: var(--vscode-inputValidation-errorBorder);
}

.textField::part(control) {
	font-size: 12px;
	opacity: 0.75;
}

.option {
	min-height: 28px;
  width: 100%;
  display: inline-block;
  line-height: 28px;
}