body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@import '@vscode/codicons/dist/codicon.css';

/* global styles required by react-treeview */

.tree-view_item {
	display: flex;
}

.tree-view_children {
	margin-left: 8px;
}

.tree-view_arrow {
	cursor: pointer;
	margin-right: 1px;
}

.tree-view_arrow:not(.tree-view_arrow-collapsed):after {
	content: '\25be';
	@apply text-gray-dark;
	@apply dark:text-gray-lighter;
}

.tree-view_arrow.tree-view_arrow-collapsed:after {
	content: '\25b8';
	@apply text-gray-dark;
	@apply dark:text-gray-lighter;
}

.tree-view_disabled {
	cursor: auto !important;
	pointer-events: none !important;
	opacity: 0.5;
}
