/* inspired by https://dev.to/themodernweb/quick-css-make-infinity-loading-animation-for-your-next-website-187k */

.progressContainer {
	position: relative;
	width: 100%;
	height: 3.5px;
	overflow: hidden;
}

.progress {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--vscode-progressBar-background);
	left: -100%;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	0% {
		left: -100%;
	}
	100% {
		left: 100%;
	}
}
